<template name="userDetail">
    {{> header}}
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-2">
                                    {{>sidebar}}
                                </div>
                                <div class="col-md-10 sidebar userprofile">
                                    <h2>{{userDetail.profile.name}} Profile 
                                    {{#if userDetail.profile.confrimOrNot}}
                                        <i class="fa fa-star" aria-hidden="true" style="color: #4760BB;"></i>
                                    {{/if}}
                                    </h2>
                                    {{#autoForm collection="Meteor.users" id="updateUserForm" doc=selectedPersonDoc validation="none" }}
                                    {{> afQuickField name='emails.0.address' readonly=true}}
                                    {{> afQuickField name='profile.name'}}  
                                    {{> afQuickField name='profile.birthday'}} 
                                    {{> afQuickField name='profile.gender' options="allowed"}} 
                                    {{> afQuickField name='profile.dateOfJoining'}}
                                    {{> afQuickField name='profile.dateOfConfrimation'}}
                                    <button type="submit" class="btn btn-primary">Update</button>
                                {{/autoForm }}
                                </div>
                                
                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            
                            <div class="col-md-8">
                                
                                
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
