<template name="login">
    {{userlogin}}
    <div class="container">
        <div class="row">
            <div class="pen-title">
                <h1>Welcome to Deligence!</h1>
            </div>
            <div class="module form-module">
                <h2>Login</h2>
                {{#autoForm collection="Meteor.users" id="logInForm2"  validation="none"}}
                    {{> afQuickField name='emails.0.address'}}
                    {{> afQuickField name='services.0.password'}}
                    <button type="submit" class="btn btn-primary">Login</button>
                {{/autoForm }}
            </div>                  
        </div>
    </div>
</template>
