<template name="addUserModal">
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">  
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>  
                    <h3>Invite Employee To Join Leave Management </h3>
                </div>
                <div class="modal-body">
                    {{#autoForm collection=invitations id="invitation"  validation="none"}}
                        {{> afQuickField name='email'}}
                        <button type="submit" class="btn btn-primary invite">Invite</button>
                    {{/autoForm}}
                </div>
            </div>          
        </div>
    </div> 
</template>
