<template name="signup">
    <div class="container">
        <div class="row">
            <div class="pen-title">
                <h1>Welcome to Deligence!</h1>
            </div>
            <div class="module form-module">
                <h2>Reset your password first</h2>
                {{#autoForm collection="Meteor.users" id="logInForm"   validation="none"}}
                    {{> afQuickField name='services.0.password'}}
                    <button type="submit" class="btn btn-primary">Update</button>
                {{/autoForm }} 
            </div>
        </div>
    </div>
</template>
