<template name="signup">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
            
                    <h2>Signup</h2>
                    {{#autoForm collection="Meteor.users" id="logInForm"  validation="none"}}
                        {{> afQuickField name='emails.0.address'}}
                        {{> afQuickField name='services.0.password'}}
                        {{> afQuickField name='profile.name'}}  
                       
                        {{> afQuickField name='profile.birthday'}} 
                        {{> afQuickField name='profile.gender' options="allowed"}} 
                        <button type="submit" class="btn btn-primary">Insert</button>
                    {{/autoForm }}
                    <a href="{{pathFor '/admin'}}" >Already have an account? Login here</a>
            
            </div>
        </div>
    </div>
</template>