<template name="header">
    <div class="header-top visible-md visible-lg">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-4">
                </div>
    
                <div class="col-sm-12 col-md-8">
                    <ul class="top-contact pull-right">
                        <i class="fa fa-user user-style"></i>
                        <li class="profile addModal">{{getUser}}</li>
                        <i class="fa fa-plus user-style"></i>
                        <li class="add-a-user profile addUserModal">Add New User</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>