<template name="userDetail1">
    <div id="wrapper" class="toggled">
        {{> usersidebar}}
        {{> header}}
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="user-box-shadow">
                    <h4>Welcome {{userDetail.profile.name}} 
                        {{#if userDetail.profile.confrimOrNot}}
                        <i class="fa fa-star" aria-hidden="true" style="color: #4760BB;"></i>
                        {{/if}}
                    </h4>
                    {{#autoForm collection="Meteor.users" id="updateUserFormByUser" doc=selectedPersonDoc validation="none" }}
                        {{> afQuickField name='emails.0.address' readonly=true}}
                        {{> afQuickField name='profile.name'}}  
                        {{> afQuickField name='profile.birthday'}} 
                        {{> afQuickField name='profile.gender' options="allowed"}} 
                        <button type="submit" class="btn btn-primary submit-button">Update</button>
                        <a class="btn btn-primary submit-button" style="float:right" href="{{pathFor '/applied-leaves/:id' id=userDetail._id}}">View Leaves</a>
                    {{/autoForm }}
                </div>
            </div>
        </div>
    </div>
</template>
