<template name="adminHomePage">
    <div>
        {{> header}}
        <div class="container">
			<div class="row">
				<div class="col-md-12">
                    <h2>All Employee</h2>
                    <a class="pull-right">All Leave Application({{newNotification}})</a>
                    <div id="box">
                        <table class="table table-dark">
                            <thead>
                                <tr>
                                    <th>e-Mail</th>
                                    <th>Invitation Date</th>
                                    <th>Accepted/Pending</th>  
                                </tr>
                            </thead>
                            <tbody>
                            {{#each invitationList}}
                                <tr>
                                    <td>{{email}}</td>
                                    <td>{{formateTime invitationDate}}</td>
                                    <td>
                                    {{# if acceptedOrNot}}
                                        Accepted
                                    {{else}}
                                        Pending
                                    {{/if}}
                                    </td>
                                    
                                    <td>
                                        {{# if acceptedOrNot}}
                                            <a href="{{pathFor '/user-detail/:id' id=userId}}" class="btn btn-primary">View</a>
                                        {{/if}}
                                    </td>
                                </tr>
                            {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
