<template name="userLeave">
    <div id="wrapper" class="toggled">
        {{> sidebar}}
        {{> header}}
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="user-box-shadow">
                    <h4>{{userDetail.profile.name}} Profile 
                        {{#if userDetail.profile.confrimOrNot}}
                        <i class="fa fa-star" aria-hidden="true" style="color: #4760BB;"></i>
                        {{/if}}
                        {{seenByadmin}}
                    </h4>

                    
                         
                        <input type="hidden" id="total_no_of_leave" value="{{userDetail.profile.totalNoOfLeaves}}">

                        <div class="col-8">
                            <label for="username" style="margin-left: 15px;">Total Leave:  {{userDetail.profile.totalNoOfLeaves}}</label>
                            <form>
                                <div class="col-sm-6">
                                    <input id="leaves" name="leaves"  class="form-control here"  required="required" type="number">
                                </div>
                                <div class="col-4">
                                    <button class="btn btn-primary add-leave submit-button">Add Leaves</button>
                                </div>
                            </form>  

                        </div>
                    
                </div>
                <div class="user-leave-box"> 
                    <h2>All Leaves of {{userDetail.profile.name}}</h2>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Total days</th>
                                <th scope="col">To Date</th>
                                <th scope="col">From date</th>
                                <th scope="col">Approve</th>
                                <th scope="col">Cancel</th>
                                <th scope="col">Details</th>
                            </tr>
                        </thead>
                        {{#if leavesDetails}}
                        <tbody>
                            
                            {{#each leavesDetails}}
                            <tr>

                                <td>{{appliedLeave}}</td>
                                <td>{{formateTime appliedto}}</td>
                                <td>{{formateTime appliedFrom}}</td>
                                <td>
                                    {{#if approvedOrNot }} 
                                        <button value="{{_id}}" class="btn btn-primary approve_leave submit-button" disabled>Approved</button>

                                    {{else if  cancelByUser}}
                                        <button value="{{_id}}" class="btn btn-primary approve_leave submit-button" disabled>Canceled by User</button>
                                    {{else}}
                                        <button value="{{_id}}" class="btn btn-primary approve_leave submit-button" >Approve</button>
                                    {{/if}}
                                </td>
                                <td>
                                    {{# if cancelLeave cancelByUser cancelByAdmin}}
                                        <button value="{{_id}}" class="btn btn-primary cancel_leave submit-button" disabled>Canceled</button>
                                       
                                    {{else}}
                                        <button value="{{_id}}" class="btn btn-primary cancel_leave submit-button">Cancel</button>
                                    {{/if}}
                                    
                                </td>
                               
                                <td><button value="{{_id}}" class="btn btn-primary view-reason submit-button">View</button></td>
                            </tr>
                            {{/each}}
                            
                        </tbody>
                        {{else}}
                            <h3>No Leaves Applied yet.</h3>
                        {{/if}}
                    </table>
                </div> 
            </div>
        </div>
    </div>
</template>
